/* show-salle.css */
.btn-icon {
    width: 32px;
    height: 32px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.table thead th {
    background-color: #f8f9fb;
    border-top: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: #475f7b;
}

.has-icon-left .form-control {
    padding-left: 35px;
    border-radius: 8px;
    left: -4px;}


.has-icon-left .form-control-position i {
    position: relative;
    left: -6px !important;
    top: 2px !important;}

.form-control-position {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #828d99;
}

.badge-light-primary {
    background-color: #e2ecff;
    color: #5a8dee;
}

.badge-light-secondary {
    background-color: #f2f4f4;
    color: #475f7b;
}

::ng-deep .custom-paginator {
    background: transparent !important;
}